$linkColor: #000000;
$inverseLinkColor:#fff;
$hoverlinkColor: #5cb7df;

$typografyColor: #595959;
$typografySecondColor: #79a0e2;
$typografyInverseColor: #ffffff;
$typografySecondInverseColor: #c1c1c1;


$mainBckground: #fff2c7;
$mainBckgroundTransparent: rgba(255, 242, 199, 0.3);
$mainBckgroundInverse: #636363;
$mainBckgroundInverseTranspaent: rgba(99, 99, 99, 0.31);
$secondBckground: #1616ff;

$mainborderColor: #6cb1ff;
$inverseBorderColor:#ffffff;

